<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nuSOAP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <nuSOAP.My.MySettings>
            <setting name="lastproject" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="DEBUG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DB_HOST" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DB_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_PREFIX" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_USER" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DB_PASS" serializeAs="String">
                <value />
            </setting>
            <setting name="PUSH_UA_APP_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="PUSH_UA_APP_SECRET" serializeAs="String">
                <value />
            </setting>
            <setting name="PUSH_UA_SOUND" serializeAs="String">
                <value />
            </setting>
            <setting name="PUSH_GCM_SANDBOX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PUSH_GCM_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="PUSH_GCM_SOUND" serializeAs="String">
                <value />
            </setting>
            <setting name="PUSH_GCM_KEY_LIVE" serializeAs="String">
                <value />
            </setting>
            <setting name="PUSH_GCM_SOUND_LIVE" serializeAs="String">
                <value />
            </setting>
            <setting name="PUSH_APNS_SANDBOX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PUSH_APNS_CERTIFICATE" serializeAs="String">
                <value />
            </setting>
            <setting name="PUSH_APNS_CERTIFICATE_PASSPHRASE" serializeAs="String">
                <value />
            </setting>
            <setting name="PUSH_APNS_SOUND" serializeAs="String">
                <value />
            </setting>
            <setting name="PUSH_APNS_CERTIFICATE_LIVE" serializeAs="String">
                <value />
            </setting>
            <setting name="PUSH_APNS_CERTIFICATE_PASSPHRASE_LIVE" serializeAs="String">
                <value />
            </setting>
            <setting name="PUSH_APNS_SOUND_LIVE" serializeAs="String">
                <value />
            </setting>
        </nuSOAP.My.MySettings>
    </userSettings>
</configuration>
